/* app-menu-section css start */
.app-menu-section {
    position: fixed;
    z-index: 99;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    background: var(--body-color);
    padding: 13.5px 16px;
    border-radius: 100px;
    overflow: hidden;
    border: 1px solid var(--brand-color);
    width: calc(100% - 20px);
    display: none;
    box-shadow: 0px 0px 7px rgb(213 90 60 / 30%);
}

.app-menu-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.app-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    user-select: none;
}

.app-menu-item .icon {
    display: flex;
}

.app-menu-item .icon svg {
    width: 16px;
    height: 16px;
    stroke: var(--muted);
    transition: all ease .3s;
}

.app-menu-item:hover .icon svg,
.app-menu-item.active .icon svg {
    stroke: var(--brand-color);
}

.app-menu-item p {
    color: var(--muted);
    font-size: 14px;
    line-height: 100%;
    text-transform: capitalize;
    font-weight: 500;
    transition: all ease .3s;
}

.app-menu-item:hover p,
.app-menu-item.active p {
    color: var(--brand-color);
}

/* app-menu-section css end */

@media only screen and (max-width: 992px) {

    /* app-menu-section css start */
    .app-menu-section {
        display: block;
    }

    /* app-menu-section css end */
}